//- CSS TRICK - part 1
//- We've built the HTML structure and we'll have some fun using "CSS tricks" and create an awesome user interaction experience.
//- So fare we've built pairs of label and input tags.
//- Those pairs are linked once the label for attribute value is equal with the input id attribute value.
//- Note: Multiple lables can target the same input.
//- Exaple <input type="radio" id="myCostumeUniqueId"/>
       <label for="myCostumeUniqueId">Label text</label>
//- To discover the rest of this tehnique, you'll have to continue reading the CSS counterpart of this component.
//- Before doing that in the next commit, Ill invite you to play a bit clicking on the social media icons and observe the input turning ino a "checked" state and how it works.
.home-message-box
  .home-message-body
    input.home-message-radio(type='radio', name="message-box", id="message-default", checked)
    //- the default message when no social media is selected
    .home-message Click the above icons to reveal
    //- Home message boc header will provide additional info
    //- as well as a way to clear the curent selected social
    //- media icon. We'll make use of a simple CSS technique
    //- that consists of:
    //- anchestor (parent) -> position: relative
    //- child              -> position: absolute
    //- More info can be found in its scss counterpart
    .home-message-box-header
      .home-message-box-info Click to visit linked
        label.home-message-box-close(for="message-default") &times;
    each social, key in site.data.resume.section.home.author.social
      input.home-message-radio(type="radio", name="message-box", id='message-box-id-'+key)
      .home-message
        //- using target attribute with _blank value
        //- will open the link in a new tab
        a.home-message-radio.home-message-link(href=social.url, target="_blank") #{social.url}
