.home
  .home-wraper
    h1.home-name #{resume.section.home.author.name}    
    h2.home-title #{resume.section.home.author.title}
    ul.home-social
      //- using each social in resume.author.social means
      //- that we'll iterate (go through one bt one) over 
      //- resume.author.social collection and the "social"
      //- variable present after the word "each" will take
      //- as value each of the entities present in the collection
      each social, key in resume.section.home.author.social
        //- The block compesed of li, a and span tags will be 
        //- repeated as many times as the resume.author.collection
        //- length is, making code easier to maintain and less debugging
        li.home-item
          label.home-link(for='message-box-id-'+key)
            span(class='resume-icon-'+social.icon)
    include home-message-box
    
